<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5cf47819e0.js" crossorigin="anonymous"></script>
    <title>PixaBay</title>
</head>
<style>
    form{
        width: 60%;
        margin: 20px auto;
    }

    img{
        width: 320px;
        height: 200px;
        margin: 5px auto;
        border-radius: 3px;
    }

    
    .img-thumbnail{
        margin-bottom: 20px;
    }

    h1{
        margin: 10px auto;
    }

    small{
        display: inline;
        margin-left: 7px;
        color: black;
    }
</style>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">PixaBay</span>
    </nav>

    <div class="container">
        <form action="/" method="POST">
            <div class="form-group">
              <h1>Search for Image</h1>
              <input name="imageInput" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <div class="row" style="display: flex; flex-wrap: wrap;">
            <% images.forEach(function(img){ %>
                <div class="col-md-4 col-sm-6">
                    <div class="img-thumbnail text-center">
                        <img src="<%= img.largeImageURL %>">
                        <div class="caption" style="align-items: flex-start;">
                            <i class="fas fa-heart fa-lg" style="color: red;"><small><%= img.likes %></small></i>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>      
</body>
</html>

